############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

############################
# Conda / environments
############################
.env
.env.*
.conda/
env/
venv/
ENV/
.envrc
*.conda
*.tar.bz2

############################
# Jupyter
############################
.ipynb_checkpoints/

############################
# Logs / temp
############################
*.log
*.tmp
*.swp
*.swo
*~

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# WSL / Linux noise
############################
*.out